.wraper {
   position: relative;
   z-index: -1;
   max-width: 1920px;
   margin: -20px auto;
   background-color: #fcfaf7;
   padding: 96px 0;
   clip-path: polygon(
      0 0,
      100% 0,
      100% 98%,
      95% 97%,
      85% 100%,
      75% 98%,
      77% 100%,
      65% 98%,
      60% 100%,
      55% 98%,
      58% 100%,
      40% 98%,
      42% 99%,
      35% 100%,
      25% 98%,
      10% 98%,
      0 100%
   );
}
.content {
   max-width: 1392px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.photo {
   min-width: 280px;
   text-align: center;
   margin-bottom: 48px;
}
.contact {
   color: #262626;
   width: 20%;
   min-width: 230px;
   margin-bottom: 48px;
}
.contact_title {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 25px;
}

.phone {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 9px;
}
.phone_number {
   font-size: 24px;
   font-weight: 600;
   margin-left: 1rem;
}
.days {
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   margin-bottom: 11px;
}
.days span {
   display: block;
}
.comments {
   font-size: 12px;
   margin-bottom: 11px;
}
.email {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.email_address {
   color: #262626;
   font-size: 20px;
   font-weight: 600;
   margin-left: 12px;
   text-decoration: none;
}
.secretariat {
   width: 20%;
   min-width: 230px;
}
.secretariat_title {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 25px;
}

.social {
   width: 20%;
}
.social_title {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 25px;
}
.social_one {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}
.social_two {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media (max-width: 1440px) {
   .wraper {
      padding: 96px 12px;
   }
}
@media (max-width: 1024px) {
   .content {
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
   }
   .photo {
      width: 45%;
   }
   .contact {
      width: 45%;
   }
   .secretariat {
      width: 45%;
   }
   .social {
      width: 45%;
   }
}
@media (max-width: 768px) {
   .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .photo {
      width: 100%;
   }
   .contact {
      width: 100%;
   }
   .phone {
      justify-content: center;
   }
   .email {
      justify-content: center;
   }
   .secretariat {
      width: 100%;
   }
   .social {
      width: 40%;
   }
}

@media (max-width: 425px) {
   .social {
      width: 60%;
   }
}
@media (max-width: 768px) {
   .content {
      flex-direction: column;
   }
}
